<div class="row amenities_title">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  		<h2 class="section-heading text-center">Amenities</h2>	
	  	<h3>Throughout The Crossings at Lake Creek you will find miles of walking trails, open space & neighborhood parks for your leisure.  At the center of the community, our proposed premium Recreational Campus will be built, completed with an open entertaining area, exercise facility and pool.  Residents of the Crossings will enjoy the following On-Site Amenities:
	  	</h3>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3 amenities-image-div"><img class="amenities-image" src="../assets/mycrossings.jpg"></div>
  <div class="col-md-3 amenities-image-div">.col-md-3</div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3 amenities-image-div">.col-md-3</div>
  <div class="col-md-3 amenities-image-div"><img class="amenities-image" src="../assets/mountains.jpg"></div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3 amenities-image-div"><img class="amenities-image" src="../assets/covered-bridge-sunflower.jpg"></div>
  <div class="col-md-3 amenities-image-div">.col-md-3</div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3 amenities-image-div">.col-md-3</div>
  <div class="col-md-3 amenities-image-div"><img class="amenities-image" src="../assets/fishing-pond-park.jpg"></div>
  <div class="col-md-3"></div>
</div>