<!-- Amenities Grid Section -->
<div class="subSection amenities_background">
    <div class="header-image">
        
    </div>
</div>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Amenities</h2>
                    <h3 class="section-subheading text-muted">Throughout The Crossings at Lake Creek you will find miles of walking trails, open space & neighborhood parks for your leisure.  At the center of the community, our proposed premium Recreational Campus will be built, completed with an open entertaining area, exercise facility and pool.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/mycrossings.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Three Monument Entries </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/mountains.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Acres of Natural Open Space</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/playgrounds-parks.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Neighborhood Play Park</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/covered_bridge.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Covered Walking Bridge</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/fishing-pond-park.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Stocked Fishing Pond</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/open-space.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        
                        <p class="text-muted">Miles of Walking Paths</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="amenities_bottom_section">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-white">Residents of the Crossings will enjoy the following On-Site Amenities:</h3>
            <h3>
                <ul class="section-subheading crossings_footer">
                  <li>Clubhouse overlooking 4 acre lake</li>
                  <li>Fitness Facilities</li>
                  <li>Tennis & Basketball Courts</li>
                  <li>Soccer & Baseball Fields</li>
                  <li>Swimming & Splash Pools</li>
                  <li>Dog Park</li>
                  <li>RV Storage</li>
                  <li>Horseshoe Pits</li>
                </ul>
            </h3>
        </div>
    </div>
</section>

