<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">About The Developer</h2>
                    <p class="section-subheading text-muted" id="text-developer">Tracey Cannon, Principle Broker & Owner of Cannon Associates, has been actively marketing and purchasing real estate properties since 1972. A graduate from the University of Utah, Tracey has been a Board of Directors Member of the Salt Lake Board of Realtors multiple years, as well as Vice Chairman and Chairman of Multiple Listing Service.<br><br>
                    Previous Projects Tracey Cannon has developed include:<br><br>

                    Pheasant Brook Estates, Draper, UT<br>
                    Elk Ridge Estates, West Jordan, UT<br>
                    Somerset Estates, Mesa, AZ<br>
                    Bear Hollow, Draper, UT<br>
                    Copper Creek Estates, Herriman UT</p>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                    <img id="img-developer" src="../assets/developer.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->