<div class="section sectionOne">
	<div class="wallpaper"> 

	</div>
</div>
<div class="subSection">
	<div class="text-center"><h2 class="section-heading">About Heber Valley</h2></div>
		<p class="heber_text text-center">No Matter the time of year, you will find each season offers endless opportunities for recreation, relaxation and culture. The Crossings at Lake Creek is located just minutes from some of the most incredible lakes, cultural events, skiing venues, mountain biking, and distinguished golf courses in the country.</p>
	</div>
</div>
<div class="section sectionTwo">
	<div class="wallpaper">
	</div> 
</div>
<div class="subSection">
	<div class="message">
		<p class="heber_text">Throughout the year, Heber is an outdoor recreation enthusiast’s nirvana. The area boasts many winter activities including  snow skiing, snowboarding, snowshoeing and snowmobiling on the greatest snow on earth. During the warmer months you can enjoy mountain biking for all levels of experience, world-class golfing, mountaineering and many water sports.</p>
	</div>
</div>
<div class="section sectionThree">
	<div class="wallpaper" >
	</div>
</div>
