<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>The Crossings</title>

		<!-- Viewport for Responsivity -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="description" content="Vector Canada map with clickable states and pins, an example of using Mapplic, a premium custom interactive map plugin to display custom image or vector (SVG) maps.">

		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../assets/style.css">
		<link rel="stylesheet" type="text/css" href="../assets/mapplic/mapplic.css">
		<link rel="stylesheet" type="text/css" href="../assets/map.css">
		<!-- Internet Explorer -->
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="mapplic/mapplic-ie.css">
			<script type="text/javascript" src="js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="wrap">
			<!-- Site content -->
			<div id="content">
				<div class="subSection the_crossings_background">
					<div class="header-image">
						
					</div>
				</div>
				<div id="crossings_section">
					<div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">About The Crossings</h2>
		                    <h4 class="section-subheading text-muted ">The Crossings at Lake Creek is a stunning upscale community nestled in the heart of Heber Valley and located on some of the most beautiful and coveted property in the Wasatch Mountains. The Crossings has been carefully planned and designed to enhance a variety of lifestyles while creating a neighborhood that feels like home.</h4>
		                </div>
		            </div>
		        </div>
				<div id="map-section" class="inner over">
					<div class="editor-window">
						<div class="window-mockup brown"></div>
						<div class="editor-body">
							<code>
								{<br>
								&nbsp;&nbsp;&nbsp;"id": "newlandmark",<br>
								&nbsp;&nbsp;&nbsp;"title": "New Landmark",<br>
								&nbsp;&nbsp;&nbsp;"description": "Creating a new landmark is that easy!",<br>
								&nbsp;&nbsp;&nbsp;"x": "<span class="mapplic-coordinates-x">0.0000</span>",<br>
								&nbsp;&nbsp;&nbsp;"y": "<span class="mapplic-coordinates-y">0.0000</span>",<br>
								&nbsp;&nbsp;&nbsp;...<br>
								}
							</code>
						</div>
					</div>

					<div class="map-container">
						<!-- Map -->
						<div id="mapplic"></div>
					</div>

				</div>	
				<div class="icon glyphicon-tree-conifer:before"></div>
				<section id="crossings_bottom_section">
					<div class="row">
		                <div class="col-lg-12 text-center">
		                    <p class="section-subheading text-white crossings_footer heber_text">The combination of The Crossings spectacular natural attributes, the development’s vast array of amenities, and community location is a great combination for exploration and relaxation. Whether you stay inside The Crossings community or explore the Valley, you will find delightful activities for all ages, all year long.</p>
		                </div>
		            </div>
		        </section>
			</div> <!--end site content -->

		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="../assets/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="../assets/script.js"></script>
		<script type="text/javascript" src="../assets/mapplic.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				// Inline JSON example
				var data = {
					"mapwidth":"100%",
					"mapheight":"1200",
					"categories":[
					],
					"levels":[
						{
							"id":"phase_a",
							"title":"phase_a",
							"map":"crossings.svg",
							"locations":[
								{
									"id": "ca-qc",
									"title": "Quebec",
									"description": "Quebec.",
									"pin": "hidden",
									"fill":"#AFC144",
									"x": "0.2874",
									"y": "0.7325",
									"zoom": "2.5"
								},
								{
									"id": "calgary",
									"title": "Calgary",
									"description": "Calgary.",
									"pin": "circular",
									"x": "0.2273",
									"y": "0.7425"
								}
							]
						}
					]
				};

				// Uncomment "source: data," to enable inline JSON
				$('#mapplic').mapplic({
					source: '../assets/crossings.json',
					//source: data,
					height: 800,
					sidebar: false,
					minimap: false,
					zoombuttons: false,
					fullscreen: false,
					hovertip: true,
					maxscale: 3,
					zoom: false,
					skin: 'mapplic-dark',
				});
			});
		</script>
	</body>
</html>