<!DOCTYPE html>
<html>
  <head>
    <title>Crossings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Crossings</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/#page-top">The Crossings At Lake Creek</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopuptrue" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/the_crossings">The Crossings</a></li>
                            <li><a href="/amenities">Amenities</a></li>
                            <li><a href="/heber_valley">Heber Valley</a></li>
                            <li><a href="/developer">Developer</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/#about">About</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#location">Location</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="/#contact">Contact Us</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopuptrue" aria-expanded="false">Documents <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../assets/design_guidelines.pdf" target="_blank">Design Guideline</a></li>
                            <li><a href="../assets/recorded-bylaws.pdf" target="_blank">Recorded Bylaws</a></li>
                            <li><a href="../assets/Recorded-Amended-CCRs.pdf" target="_blank">Crossings CC&R’s</a></li>
                            <li><a href="../assets/purchase-contract.pdf" target="_blank">Purchase Contract</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
           <!--  /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  <body>
    <%= yield %>
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; The Crossings 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com"><i class="fa fa-twitter">t</i></a>
                        </li>
                        <li><a href="https://facebook.com"><i class="fa fa-facebook">f</i></a>
                        </li>
                        <li><a href="https://linkedin.com"><i class="fa fa-linkedin">in</i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                        <!-- <li><a href="">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer> 
  </body>
</html>
